<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Ping Pong</title>
</head>
<body>
    <div class='container'>
        <h1>Let's Play ping pong</h1>
        <p>Enter a number that you would like to count to. Numbers divisible by 3 will display as 'ping', numbers divisible by 5 will display as 'pong', numbers divisible by both will display as 'ping-pong.'</p>
        <form action='/ping_pong'>
            <div class='form-group'>
              <label for='number'>Let's count to:</label>
              <input id='number' name='number' class='form-control' type='number'>
            </div>
            <button type='submit' class='btn-success'>Let's play!</button>
        </form>
    </div>
</body>
</html>
